#footer-wrap
  .footer-wrap-links
    .footer-wrap-left
      a.footer-wrap-link(target='_blank' href='https://beian.miit.gov.cn/#/Integrated/index' rel='noopener external nofollow noreferrer noopener')=theme.footer.icp
      a.footer-wrap-link(href='https://www.upyun.com/?utm_source=lianmeng&utm_medium=referral' title='由又拍云提供CDN加速' data-pjax-state='') 又拍云
    .footer-wrap-right
      a.footer-wrap-link.rss(href='/atom.xml' title='RSS' data-pjax-state='') 订阅
      a.footer-wrap-link.theme(href='https://github.com/anzhiyu-c/hexo-theme-anzhiyu/' title='Hexo-theme-Anzhiyu' data-pjax-state='') 主题
      a.footer-wrap-link.cc(href='http://creativecommons.org/licenses/by-nc-sa/4.0/' title='CC BY-NC-ND 4.0协议' data-pjax-state='') 版权
