#pagination
  .toPageGroup
    display: flex;
    position: relative;
    margin: 0;
    box-shadow: none;
    width: auto;
    &:hover 
      background: none;
  .pagination
    text-align: center
    .extend.next 
      .pagination_tips_next
        margin-left: -32px;
        transition: 0.3s;
        opacity: 0;


  .page-number
    &.current
      background: $theme-paginator-color
      color: var(--white)

  .pagination-info
    position: absolute
    top: 50%
    padding: 20px 40px
    width: 100%
    transform: translate(0, -50%)

.layout
  & > .recent-posts
    .pagination
      & > *
        display: inline-block
        width: w = 2.5em
        height: w
        line-height: w

      & > *:not(.space)
        @extend .cardHover
        transition: 0s;

  & > div:not(.recent-posts)
    .pagination
      .page-number
        display: inline-block
        margin: 0 4px
        min-width: w = 24px
        height: w
        text-align: center
        line-height: w
        cursor: pointer
